# /etc/systemd/system/docker-compose-nextcloud.service

[Unit]
Description=My Docker Compose Stacks Service
Requires=docker.service
After=network-online.target \
    docker.service

RequiresMountsFor=*

Wants=network-online.target
StartLimitIntervalSec=60

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/nfs_exports/karl/docker-stacks
ExecStart=/nfs_exports/karl/docker-stacks/start_stacks.sh
ExecStop=/nfs_exports/karl/docker-stacks/stop_stacks.sh

[Install]
WantedBy=multi-user.target
