#
# paperless-ngx
#
volumes:
  paperless_media:
    external: true
  paperless_export:
    external: true
  paperless_consume:
    external: true

networks:
  paperless_net:
     external: true

services:
  broker:
    image: docker.io/library/redis:7
    restart: "no"
    networks:
      - paperless_net
    volumes:
      - /volume1/docker/paperlessngx/redis:/data

  db:
    image: docker.io/library/postgres:15
    restart: "no"
    networks:
      - paperless_net
    volumes:
      - /docker_volumes/paperless_db:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${DB_DB}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}

  webserver:
    image: ghcr.io/paperless-ngx/paperless-ngx:latest
    restart: "no"
    depends_on:
      - broker
      - db
      - gotenberg
      - tika
    networks:
      - paperless_net

    labels:
      - "traefik.enable=true"
      
      - "traefik.http.routers.paperless-https.entrypoints=websecure"
      - "traefik.http.routers.paperless-https.rule=Host(`${APP_HOST_NAME}`)"
      - "traefik.http.routers.paperless-https.tls=true"
      
      - "traefik.http.routers.paperless-http.entrypoints=web"
      - "traefik.http.routers.paperless-http.rule=Host(`${APP_HOST_NAME}`)"
      - "traefik.http.routers.paperless-http.middlewares=paperless-https"
      
      - "traefik.http.middlewares.paperless-https.redirectscheme.scheme=https"
    volumes:
      - /docker_volumes/paperless_data:/usr/src/paperless/data
      - paperless_media:/usr/src/paperless/media
      - paperless_export:/usr/src/paperless/export
      - paperless_consume:/usr/src/paperless/consume
      
    environment:
      PAPERLESS_REDIS: redis://broker:6379
      PAPERLESS_DBHOST: db
      PAPERLESS_URL: https://${APP_HOST_NAME}
      USERMAP_UID: 33
      USERMAP_GID: 33
      PAPERLESS_TIME_ZONE: Europe/Berlin
      PAPERLESS_ADMIN_USER: ${APP_ADMIN_USER}
      PAPERLESS_ADMIN_PASSWORD: ${APP_ADMIN_PASSWORD}
      PAPERLESS_OCR_LANGUAGE: deu+eng
      PAPERLESS_TASK_WORKERS: 4
      PAPERLESS_TIKA_ENABLED: true
      PAPERLESS_TIKA_GOTENBERG_ENDPOINT: http://gotenberg:3000
      PAPERLESS_TIKA_ENDPOINT: http://tika:9998
      PAPERLESS_CONSUMER_ENABLE_BARCODES: true # enable search for barcodes
      PAPERLESS_CONSUMER_ENABLE_ASN_BARCODE: true # enable setting ASN by ASN barcodes
      PAPERLESS_OCR_USER_ARGS: '{"continue_on_soft_render_error": true}'

  gotenberg:
    image: docker.io/gotenberg/gotenberg:8.7
    restart: "no"
    networks:
      - paperless_net

    # The gotenberg chromium route is used to convert .eml files. We do not
    # want to allow external content like tracking pixels or even javascript.
    command:
      - "gotenberg"
      - "--chromium-disable-javascript=true"
      - "--chromium-allow-list=file:///tmp/.*"

  tika:
    image: docker.io/apache/tika:latest
    restart: "no"
    networks:
      - paperless_net

