#
# Traefik
#

networks:
  nextcloud_net:
    external: true
  paperless_net:
    external: true
  vaultwarden_net:
    external: true
  traefik_net:
    external: true
  immich_net:
    external: true

services:
  traefik:
    image: "traefik:latest"
    restart: always
    container_name: "traefik"
    command:
      #- "--log.level=DEBUG"
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.file.directory=/etc/traefik/dynamic_conf"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    networks:
      - traefik_net
      - nextcloud_net
      - paperless_net
      - vaultwarden_net
      - immich_net
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - /docker_volumes/traefik_certs:/etc/traefik/certs
      - /docker_volumes/traefik_config:/etc/traefik/dynamic_conf

  whoami:
    image: "traefik/whoami"
    restart: always
    container_name: "simple-service"
    networks:
      - traefik_net
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.whoami.rule=Path(`/whoami`)"
      - "traefik.http.routers.whoami.entrypoints=websecure"
      - "traefik.http.routers.whoamitls.tls=true"
