#
# JELLYFIN
#
# JELLYFIN_DATA      - overrides the default volume jellyfin_data
#
volumes:
  nas_photos:
    external: true
  nas_music:
    external: true
  jellyfin_data:
    external: true

services:
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    network_mode: host
    restart: "no"
    environment:
      - PUID=1026
      - PGID=100
      - TZ=Etc/UTC
      - JELLYFIN_PublishedServerUrl=192.168.0.5 #optional
    volumes:
      - ${JELLYFIN_DATA:-jellyfin_data}:/config
      - nas_photos:/data/synology_photos:ro
      - nas_music:/data/synology_music:ro
      - /volume1/movies:/data/movies:ro
      - /volume1/shows:/data/shows:ro
    # ports:
      # - 8096:8096
      # - 8920:8920 #optional
      # - 7359:7359/udp #optional
      # - 1900:1900/udp #optional
