services:
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: always
    ports:
      - "9000:9000" #UI
    volumes:
      - /docker_volumes/portainer_data:/data
      - /var/run/docker.sock:/var/run/docker.sock
